<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="gigaNoodleConfig"
      type="GigaNoodle.WindowsService.Config.GigaNoodleConfigHandler, GigaNoodle.WindowsService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>
  <gigaNoodleConfig>
    <queues>
      <queue name="ConsoleTestQueue" type="GigaNoodle.RabbitMQueue.RabbitMQueue, GigaNoodle.RabbitMQueue, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </queues>
    <queueItemTypes>
      <queueItemType name="console1" knownType="ConsoleApplication1.Program+MyQueueItem, ConsoleApplication1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"></queueItemType>
    </queueItemTypes>
  </gigaNoodleConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>